* {
  margin:0px;
  padding:0px;
}

#octocat {
  display: block;
  width:384px;
  margin: 50px auto;
}

p {
  display: block;
  width: 400px;
  margin: 50px auto;
  font: 30px Monaco,"Courier New","DejaVu Sans Mono","Bitstream Vera Sans Mono",monospace;
}
ol.carousel-indicators {
  position: absolute;
  bottom: 10px;
  left: 0;
  right: 0;
}
ol.carousel-indicators li,
ol.carousel-indicators li.active {
  width: 0.80rem;
  height: 0.80rem;
  border-radius: 50%;
  border: 0;
}
ol.carousel-indicators li {
  background: rgba(255,255,255,0.39);
}
ol.carousel-indicators li.active {
  background: #ffffff;
}
